<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em class="head-haxx">
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				<img src="/static/img/doge-cutout2.png" class="head-img" />
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
